<div class="container">
  <ul id="slides">
    <% @companies.each do |company| %>
      <li class="slide" data-id="<%= company.id %>">
        <%= company.name %>
      </li>
    <% end %>
  </ul>
  <div class="d-flex justify-content-around pt-2">
    <div id="slide-controls">
      <button class="controls" id="decline">No</button>
      <button class="controls" id="approve">Yes</button>
    </div>
  </div>
</div>